@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Oswald);

/** {
    border: 1px solid black;
}*/

body {
    background-color: dimgray;
}

.container {
    background-color: dimgray;
}

.spacer {
    height: 25px;
}
.textspacer {
    height: 5px;
}

/*
body  {
    padding-top:50px;
}
*/
.participants {
    //display:flex;
    //flex-flow:row wrap;
    //justify-content:center;
}
.poll   {
    //width:25%;
    //margin:20px;
}

