@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
    background-color: dimgray;
}

.spacer {
    height: 25px;
}

nav {
    //border: 1px solid black;

    font-family: 'Montserrat', sans-serif;
}

.navbutton {

    padding: 10px;
    //border: 1px solid black;
    display: inline-block;

    text-transform: uppercase;

    background-color: white;
}

.playerlist {
    //background-color: white;
}

.playeritem {
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    //border: 1px solid black;

    background-color: white;
    //display: inline-block;
    position: relative;
}

.useritem {
    background-color: orange;
    color: white;
    font-weight: bold;
}

.x_button {
    position: absolute;
    //width: auto;
    //height: auto;
    //margin: auto;
    right: 5px;
    top: 8px;
}

.userpanel {
    padding: 10px;
    background-color: white;

    position: relative;
    height: 120px;
}

.createteams {
    padding: 10px;
    background-color: white;

    position: relative;
    height: 85px;
}

table tr td {
    padding: 5px;
}

table tr td[class="formlabel"] {
    text-align: right;
    font-weight: bold;
    min-width: 135px;
}

table tr td[class="formfield"] {
    //width: 50%;
}

.go_button {
    position: absolute;
    height: 120px;
    width: 120px;
    background-color: orange;

    right: 0px;
    top: 0px;

    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 45px;

    text-align: center;
}

.go_button:hover {
    background-color: grey;
}

.go_button-centercontainer {
    line-height: 120px;
}

.teams_button {
    position: absolute;
    height: 85px;
    width: 120px;
    background-color: orange;

    right: 0px;
    top: 0px;

    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;

    text-align: center;
}

.teams_button:hover {
    box-shadow: 0px 0px 25px orange;
}

.teams_button-centercontainer {
    line-height: 85px;
}