<template name="navbar">
    <nav>
        {{#if currentUser}}
            <div class="navbutton tourney">TOURNEY!</div>
            <!--<div class="navbutton admin">ADMIN</div>-->
            <!--{{#if admin}}
                <div class='navbutton admin'>ADMIN</div>
            {{else}}
            {{/if}}-->
            <!--<div class="navbutton info"><span class="glyphicon glyphicon-info-sign"></span></div>-->
        {{else}}
            <div class="navbutton">TOURNEY!</div>
        {{/if}}
        <div class="navbutton">{{> loginButtons}}</div>
        <!--div class="navbutton info"><span class="glyphicon glyphicon-info-sign"></span></div>-->
    </nav>
</template>

<template name="admin-yes">
    <div class='navbutton admin'>ADMIN</div>
</template>

<template name="admin-no">

</template>