<!--TODO delete this-->

<template name="info">
    <div class="panelmain">
        <strong>About TOURNEY!</strong><br>
        <div class="textspacer"></div>
        TOURNEY! (formerly LoLTS) will be a tool that quickly builds teams out of random players, based on their given ranking.

        <div class="textspacer"></div>
        <strong>Modules Used</strong><br>
        <div class="textspacer"></div>
        Meteor (with MongoDB)<br>
        Javascript<br>
        Bootstrap<br>
        <div class="textspacer"></div>
        <strong>History</strong><br>
        <div class="textspacer"></div>
        <a href="/img/LoLTS 2013.JPG" target="_blank">LoLTS 2013</a><br>
        <a href="/img/LoLTS Web.JPG" target="_blank">LoLTS Web</a>

        <div class="textspacer"></div>
        <strong>Authors</strong><br>
        <div class="textspacer"></div>
        Barryn Chun<br>
        Erik Huang<br>

    </div>
    <div class="spacer"></div>
</template>