.participant {
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;

    background-color: white;
    position: relative;
}

/*TODO Either re-align delete button or create a custom delete button*/
/*probably create a custom delete button*/
.delete {
    float: right;
}